
@mixin overlay($width, $height){
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border: 2px solid #999;
  color: #333;
  z-index: 1000;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: $width;
  height: $height;
  margin: (-$height/2) 0 0 (-$width / 2);
  line-height: 1.5em;
  padding: 40px;

  h1{
    font-size: 2.2em;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
  }
}

.metaverse-canvas{

  .blocker, .upload-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
  }

  .upload-overlay{
    background: rgba(0,0,0,0.2);
  }

  .upload-message{
    @include overlay(400px, 200px);
  }

  .upload-form{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1010;
    margin: 0;
    padding: 0;
  }

  .upload-form input{
    width: 100%;
    height: 100%;
    opacity: 0.01;
   }

  #instructions{
    @include overlay(400px, 250px);

    small{
      font-style: italic;
      color: #555;
    }

    .keys{
      position: relative;
      height: 90px;
      left: 50px;

      .key{
        width: 32px;
        height: 32px;
        border: 1px solid #aaa;
        border-radius: 4px;
        line-height: 32px;
        display: inline-block;
        text-align: center;
        box-shadow: 1px 1px 3px #aaa;
        color: #777;
        font-size: 11px;
        font-weight: bold;

        position: absolute;
        background: linear-gradient( 180deg, #eee, #eee 40%, #ccc);
      }

      .key.w{
        left: 100px;
        top: 0;
      }

      .key.a{
        left: 60px;
        top: 40px;
      }

      .key.s{
        left: 100px;
        top: 40px;
      }

      .key.d{
        left: 140px;
        top: 40px;
      }
    }
   }
}