.unable-to-connect

  h1 Unable to connect...

  p.
    SceneVR is unable to connect to
    <B>#{host}</b>.

  p.
    The server may be down, or you may
    be experiencing connection difficulties.
    Reload this page to try and reconnect.
