#instructions
  h1 Click on the scene to join

  if supportsPointerLock
    p.
      W, A, S, D = Move, SPACE = jump, MOUSE = Look around
  else
    small.
      (Your browser doesn't support pointerlock)
    p.
      Arrow keys = Move, SPACE = jump

  p.
    Click the orange globes to open portals.


