#instructions
  h1 Click to join

    //- <!--div class="keys">
    //-   <span class="key w">W</span>
    //-   <span class="key a">A</span>
    //-   <span class="key s">S</span>
    //-   <span class="key d">D</span>
    //- </div-->

  small.
    (W, A, S, D = Move, MOUSE = Look around)
