.nopointerlock

  h1 No pointerlock

  p
    | Your browser doesn't seem to 
    a(href='https://developer.mozilla.org/en-US/docs/Web/API/Pointer_Lock_API') support pointerlock
    | . Please use chrome or firefox.

  p
    | We have 
    a(href='https://github.com/bnolan/scenevr-web/issues/100') an issue open 
    |  to fix this on your browser.
    